<table id="count-session-table">
  <thead>
    <th>Start Time</th>
    <th>End Time</th>
    <th>Pedestrians Counted</th>
    <!-- <th>Pedestrians per Hour</th> -->
    <th></th>
  </thead>
  <tbody>
    <!-- will be populated by App.Views.CountSessionRow's -->
  </tbody>
</table>