<tr id="count-session-row-<%= id %>">
  <td><%= start %></td>
  <td><%= stop %></td>
  <td><%= count_total %><!-- rather than "total_count" which is a method --></td>
  <!--<td>peds/hour</td>-->
</tr>