<table id="count-session-table" class="condensed-table zebra-striped">
  <thead>
    <th>Start Time (Duration)</th>
    <th>Pedestrians Counted</th>
    <!-- <th>Pedestrians per Hour</th> -->
    <th></th>
  </thead>
  <tbody>
    <!-- will be populated by App.Views.CountSessionRow's -->
  </tbody>
</table>