<div data-role="header">
	<h1><%= name %></h1>
</div>

<div data-role="content">
	<p>Hello world</p>
</div>

<div class="ui-bar" data-role="footer" data-id="footer" data-position="fixed">
  <a href="#open-project" data-role="button" data-icon="grid">Switch Projects</a>
</div>