<div id="map-tab">
  <div id="map-object-buttons" style="float: left;">
    <p>point or segment buttons</p>
  </div>
  <div id="map-buttons" style="float: right;">
    <a id="upload-map-edits-button" class="btn primary">Upload Map Edits</a>
  </div>
</div>