<div class="modal-body">
  <h2 class="pull-left">
    Start counting at <strong>Gate <%= gate.printLabel() %></strong>?
  </h2>
  <h6 class="pull-right">
    <a id="cancel-button" class="btn">Cancel</a>
    <a id="yes-button" class="btn btn-primary">Yes</a>
  </h6>
</div>