<div id="measure-tab">
  <div id="measure-plan-assistant">
    <div id="measure-plan-assistant-top-row" class="row-fluid">
      <div class="span3"><h3>Count Planning Assistant</h3></div>
      <div id="measure-plan-assistant-alert" class="span5">&nbsp;</div>
      <div class="span3" align="right">
        <h6>
          <a id="cancel-button" href="#project/<%= masterRouter.projects.getCurrentProjectId() %>/measure/plan" class="btn">Cancel</a>
          <a id="create-plan-button" class="btn btn-primary">Create Plan</a>
        </h6>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span2">
        <label class="control-label">Users</label>
        <% users.each(function(user) { %>
        <label class="checkbox">
          <input id="user-checkbox-<%= user.id %>" class="user-checkbox" type="checkbox" value="<%= user.id %>" checked/> 
          <%= user.full_name() %>
        </label>
        <% }); %>
        <div class="help-block">Select which of your organization's users will take counts.</div>
      </div>
      <div class="span10 form-horizontal">
        <div class="row-fluid">
          <!--
          <div class="span3 control-group">
            <label class="control-label">Locations</label>
            <div class="controls">
              <input id="counting-locations-input" class="span1" type="number" min="5" max="100" step="5" pattern="[0-9]*" />
              <div class="help-block">At how many segments do you want to count?</div>
            </div>
          </div>
          -->
          <div class="span5 control-group">
            <label class="control-label">Start</label>
            <div class="controls">
              <select id="start-date-year-input" class="span1"></select>
              <select id="start-date-month-input" class="span2"></select>
              <select id="start-date-day-input" class="span1"></select>
              <div class="help-block">Select the Monday starting the first counting week.</div>
            </div>
          </div>
          <div class="span3 control-group">
            <label class="control-label">Weeks</label>
            <div class="controls">
              <input id="weeks-input" class="span1" type="number" min="1" max="52" pattern="[0-9]*" />
              <div class="help-block">During how many weeks will counts be taken?</div>
            </div>
          </div>
          <div class="span4 control-group">
            <label class="control-label">Break Weeks</label>
            <div class="controls">
              <input id="intervening-weeks-input" class="span1" type="number" min="0" max="8" pattern="[0-9]*" />
              <div class="help-block">How many break weeks will separate counting weeks?</div>
            </div>
          </div>
        </div>
        <div class="row-fluid control-group">
          <label class="control-label">Days</label>
          <div class="controls">
            <label class="checkbox inline"><input id="monday-checkbox" class="day-checkbox" type="checkbox" value="monday">Monday</label>
            <label class="checkbox inline"><input id="tuesday-checkbox" class="day-checkbox" type="checkbox" value="tuesday">Tuesday</label>
            <label class="checkbox inline"><input id="wednesday-checkbox" class="day-checkbox" type="checkbox" value="wednesday">Wednesday</label>
            <label class="checkbox inline"><input id="thursday-checkbox" class="day-checkbox" type="checkbox" value="thursday">Thursday</label>
            <label class="checkbox inline"><input id="friday-checkbox" class="day-checkbox" type="checkbox" value="friday">Friday</label>
            <label class="checkbox inline"><input id="saturday-checkbox" class="day-checkbox" type="checkbox" value="saturday">Saturday</label>
            <label class="checkbox inline"><input id="sunday-checkbox" class="day-checkbox" type="checkbox" value="sunday">Sunday</label>
            <div class="help-block">On which days of the week will counts be taken?</div>
          </div>
        </div>
        <div class="row-fluid control-group">
          <label class="control-label">Hours</label>
          <div class="controls">
            <label class="checkbox inline"><input id="000-checkbox" class="hour-checkbox" type="checkbox" value="000">0:00</label>
            <label class="checkbox inline"><input id="100-checkbox" class="hour-checkbox" type="checkbox" value="100">1:00</label>
            <label class="checkbox inline"><input id="200-checkbox" class="hour-checkbox" type="checkbox" value="200">2:00</label>
            <label class="checkbox inline"><input id="300-checkbox" class="hour-checkbox" type="checkbox" value="300">3:00</label>
            <label class="checkbox inline"><input id="400-checkbox" class="hour-checkbox" type="checkbox" value="400">4:00</label>
            <label class="checkbox inline"><input id="500-checkbox" class="hour-checkbox" type="checkbox" value="500">5:00</label>
            <label class="checkbox inline"><input id="600-checkbox" class="hour-checkbox" type="checkbox" value="600">6:00</label>
            <label class="checkbox inline"><input id="700-checkbox" class="hour-checkbox" type="checkbox" value="700">7:00</label>
            <label class="checkbox inline"><input id="800-checkbox" class="hour-checkbox" type="checkbox" value="800">8:00</label>
            <label class="checkbox inline"><input id="900-checkbox" class="hour-checkbox" type="checkbox" value="900">9:00</label>
            <label class="checkbox inline"><input id="1000-checkbox" class="hour-checkbox" type="checkbox" value="1000">10:00</label>
            <label class="checkbox inline"><input id="1100-checkbox" class="hour-checkbox" type="checkbox" value="1100">11:00</label>
            <p></p>
            <label class="checkbox inline"><input id="1200-checkbox" class="hour-checkbox" type="checkbox" value="1200">12:00</label>
            <label class="checkbox inline"><input id="1300-checkbox" class="hour-checkbox" type="checkbox" value="1300">13:00</label>
            <label class="checkbox inline"><input id="1400-checkbox" class="hour-checkbox" type="checkbox" value="1400">14:00</label>
            <label class="checkbox inline"><input id="1500-checkbox" class="hour-checkbox" type="checkbox" value="1500">15:00</label>
            <label class="checkbox inline"><input id="1600-checkbox" class="hour-checkbox" type="checkbox" value="1600">16:00</label>
            <label class="checkbox inline"><input id="1700-checkbox" class="hour-checkbox" type="checkbox" value="1700">17:00</label>
            <label class="checkbox inline"><input id="1800-checkbox" class="hour-checkbox" type="checkbox" value="1800">18:00</label>
            <label class="checkbox inline"><input id="1900-checkbox" class="hour-checkbox" type="checkbox" value="1900">19:00</label>
            <label class="checkbox inline"><input id="2000-checkbox" class="hour-checkbox" type="checkbox" value="2000">20:00</label>
            <label class="checkbox inline"><input id="2100-checkbox" class="hour-checkbox" type="checkbox" value="2100">21:00</label>
            <label class="checkbox inline"><input id="2200-checkbox" class="hour-checkbox" type="checkbox" value="2200">22:00</label>
            <label class="checkbox inline"><input id="2300-checkbox" class="hour-checkbox" type="checkbox" value="2300">23:00</label>
            <div class="help-block">During which hours of the day will counts be taken?</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>