<div id="measure-tab">
  
  <ul id="measure-sub-tabs" class="nav nav-tabs">
    <% if (project.get('permissions_for_current_user').plan == true) { %>
    <li id="plan-sub-tab">
      <a href="#project/<%= project.id %>/measure/plan">Plan</a>
    </li>
    <% } if (project.get('permissions_for_current_user').count == true) { %>
    <li id="count-sub-tab">
      <a href="#project/<%= project.id %>/measure/count">Count</a>
    </li>
    <% } %>
    <li id="view-sub-tab" class="active">
      <a href="#project/<%= project.id %>/measure/view">View</a>
    </li>
  </ul>

  <div class="row-fluid">
    <ul class="breadcrumb">
      <li><strong>Entire Map</strong> <span class="divider">/</span></li>
      <li>One Gate <span class="divider">/</span></li>
      <li>One Count Session</li>
    </ul>
    <!-- TODO: add day-of-the-week and hour-of-the-day filter controls here (PEDPLUS-71) -->
  </div>

  <div id="count-session-table-wrapper">
  <!-- table will be populated by App.Views.CountSessionTable using the jQuery DataTables plugin -->
    <table id="count-session-table" class="table table-striped table-condensed"></table>
  </div>
</div>