<div id="measure-tab-count-validate" class="modal-body">
  <h2 id="count-total-text" class="pull-left">
    Do you want to save your count of <%= counts_count %> pedestrians?
  </h2>
  <h6 id="count-edit-buttons">
  	<a id="minus-one-button" class="btn">-1</a> 
  	<a id="plus-one-button" class="btn">+1</a>
  </h6>
  <h6 class="pull-right">
    <a id="delete-button" class="btn btn-danger"><i class="icon-remove icon-white"></i> Delete</a>
    <a id="edit-button" class="btn"><i class="icon-pencil"></i> Edit</a>
    <a id="save-button" class="btn btn-primary"><i class="icon-ok icon-white"></i> Save</a>
  </h6>
</div>