<div id="model-tab">
  <h6>
    <a id="permeability-analysis-button" class="btn">Run Permeability Analysis</a> 
    <a id="proximity-analysis-button" class="btn">Run Proximity Analysis</a> 
  </h6>
</div>