<div id="model-tab">
  <h6>
    <a id="run-permeability-analysis" class="btn primary">Run Permeability Analysis</a> 
    <a id="run-proximity-analysis" class="btn primary">Run Proximity Analysis</a> 
  </h6>
</div>