<div id="model-tab">
  <div class="btn-group" style="float: left;"> 
    <h6>
      <% if (modelTabMode == "modelExistingPermeability") { %>
        <a href="#project/<%= projectId %>/model/permeability/<%= permeabilityModelJobId %>" class="btn">Permeability Analysis</a> 
        <a class="btn">Proximity Analysis</a> 
      <% } else if (modelTabMode == "modelNotYetPermeability") { %>
        <a id="permeability-analysis-button" class="btn">Permeability Analysis</a> 
        <a id="proximity-analysis-button" class="btn">Proximity Analysis</a>
      <% } else if (modelTabMode == "modelShowPermeability") { %>
        <a href="#project/<%= projectId %>/model" class="btn btn-primary">Permeability Analysis</a> 
        <a class="btn">Proximity Analysis</a>
      <% } %>
    </h6>
  </div>
  <div class="btn-set" style="float: right;"> 
    <h6>Walking Radius</h6>
    <div class="btn-group">
      <h6>
        <a class="btn">10 minutes</a>
        <a class="btn">30 minutes</a> 
        <a class="btn btn-primary">no radius</a>
      </h6>
    </div>
  </div>
</div>