<h3 style="float: left;">Opportunity Map</h3>
<div style="float: right;">
    <h6><em>Click a point on the plot to see the corresponding segment on the map.</em></h6>
</div>
<% if (projectId == 4) { %>
  <div align="center"><img src="/media/redlands-synthesized-opportunity.png"/></div>
<% } else { %>
  <h6 align="center">Not computed for this project.</h6>
<% } %>