<div id="project-details" style="float: left;">
  <h3><%= name %></h3>
</div>
<div id="project-buttons" style="float: right;">
  <h6>
    <a href="#project/open" class="btn">Open Project</a> 
    <a href="#project/new" class="btn">New Project</a>
  </h6>
</div>
