<div id="project-details" style="float: left;">
  <p>Name: <%= name %></p>
</div>
<div id="project-buttons" style="float: right;">
  <a href="#project/open" class="btn">Open Project</a>
  <a href="#project/new" class="btn">New Project</a>
</div>
