<div id="project-details" class="btn-set" style="float: left;">
  <h3 style="float: left;"><%= get('name') %></h3> 
  <div class="btn-group"> 
    <h6>
    	<a href="#project/<%= id %>/settings" class="btn"><i class="icon-cog"/> Settings</a>
    	<a href="#project/<%= id %>/export" class="btn"><i class="icon-download-alt"/> Export</a>
    </h6>
  </div>
</div>
<div id="project-buttons" class="btn-set" style="float: right;">
  <h6>Projects</h6>
  <div class="btn-group"> 
    <h6>
      <a href="#project/open" class="btn"><i class="icon-folder-open"/> Open</a>
    </h6>
  </div>
</div>
