<div id="project-details" style="float: left;">
  <h3 style="float: left;"><%= name %></h3> 
  <h6 style="float: left; margin-left: 4px;"><a class="btn">Settings</a> <a class="btn">Export</a></h6>
</div>
<div id="project-buttons" style="float: right;">
  <h6>Projects 
    <a href="#project/open" class="btn">Open</a> 
    <a href="#project/new" class="btn">New</a>
    <a class="btn">Import</a>
  </h6>
</div>
