#map-area {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0); /* to disable tap highlighting */
  z-index: 0;
  
  .compass {
    z-index: 2;
  }
  .compass .back {
    fill: #eee;
    fill-opacity: .8;
  }

  .compass .fore {
    stroke: #999;
    stroke-width: 1.5px;
  }

  .compass rect.back.fore {
    fill: #999;
    fill-opacity: .3;
    stroke: #eee;
    stroke-width: 1px;
    shape-rendering: crispEdges;
  }

  .compass .direction {
    fill: none;
  }

  .compass .chevron {
    fill: none;
    stroke: #999;
    stroke-width: 5px;
  }

  .compass .zoom .chevron {
    stroke-width: 4px;
  }

  .compass .active .chevron, .compass .chevron.active {
    stroke: #fff;
  }

  .compass.active .active .direction {
    fill: #999;
  }
  
  #segment-layer, #new-segment-layer {
    path {
      opacity: .8;
      stroke-linecap: round;
    }
    path.black {
      stroke: #000000;
    }
    path.light-black {
      stroke: #ccc;
      opacity: .4;
    }
    path.selected {
      stroke: #55ee33;
/*      stroke-dasharray: 20 10;*/
    }
    path.connected {
      stroke: #429BF8;
    }
    path.red1 {
      stroke: #FC9272;
    }
    path.red2 {
      stroke: #FB6A4A;
    }
    path.red3 {
      stroke: #EF3B2C;
    }
    path.red4 {
      stroke: #CB181D;
    }
    path.red5 {
      stroke: #99000D;
    }
    path.blue0 {
      stroke: #000000;
    }
    path.blue1 {
      stroke: #9ECAE1;
    }
    path.blue2 {
      stroke: #6BAED6;
    }
    path.blue3 {
      stroke: #4292C6;
    }
    path.blue4 {
      stroke: #2171B5;
    }
    path.blue5 {
      stroke: #084594;
    }
    /* duplicating the set of 20 colors used in App.Models.GateGroup.getColor() */
    path.gateGroupA {
      stroke: #1f77b4;
    }
    path.gateGroupB {
      stroke: #aec7e8;
    }
    path.gateGroupC {
      stroke: #ff7f0e;
    }
    path.gateGroupD {
      stroke: #ffbb78;
    }
    path.gateGroupE {
      stroke: #2ca02c;
    }
    path.gateGroupF {
      stroke: #98df8a;
    }
    path.gateGroupG {
      stroke: #d62728;
    }
    path.gateGroupH {
      stroke: #ff9896;
    }
    path.gateGroupI {
      stroke: #9467bd;
    }
    path.gateGroupJ {
      stroke: #c5b0d5;
    }
    path.gateGroupK {
      stroke: #8c564b;
    }
    path.gateGroupL {
      stroke: #c49c94;
    }
    path.gateGroupM {
      stroke: #e377c2;
    }
    path.gateGroupN {
      stroke: #f7b6d2;
    }
    path.gateGroupO {
      stroke: #7f7f7f;
    }
    path.gateGroupP {
      stroke: #c7c7c7;
    }
    path.gateGroupQ {
      stroke: #bcbd22;
    }
    path.gateGroupR {
      stroke: #dbdb8d;
    }
    path.gateGroupS {
      stroke: #17becf;
    }
    path.gateGroupT {
      stroke: #9edae5;
    }
  }
  #geo-point-layer {
    circle {
      fill: #000000;
      stroke: #fff;
      stroke-width: 2px;
      opacity: .8;
    } 
    circle.selected {
      fill: #55ee33;
    }
    circle.connected {
      fill: #524CEF;
    }
  }
}