#map-area {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0); /* to disable tap highlighting */
  z-index: 0;
  
  .compass .back {
    fill: #eee;
    fill-opacity: .8;
  }

  .compass .fore {
    stroke: #999;
    stroke-width: 1.5px;
  }

  .compass rect.back.fore {
    fill: #999;
    fill-opacity: .3;
    stroke: #eee;
    stroke-width: 1px;
    shape-rendering: crispEdges;
  }

  .compass .direction {
    fill: none;
  }

  .compass .chevron {
    fill: none;
    stroke: #999;
    stroke-width: 5px;
  }

  .compass .zoom .chevron {
    stroke-width: 4px;
  }

  .compass .active .chevron, .compass .chevron.active {
    stroke: #fff;
  }

  .compass.active .active .direction {
    fill: #999;
  }
  
  #segment-layer {
    path {
      stroke: #000000;;
    }
    path.selected {
      stroke: #55ee33;
    }
    path.connected {
      stroke: #429BF8;
    }
  }
  #geo-point-layer {
    circle {
      fill: #000000;
    }
    circle.selected {
      fill: #55ee33;
    }
    circle.connected {
      fill: #524CEF;
    }
    circle.move {
      
    }
  }
}