#top-bar {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 155px;
  right: 75px;
/*  width: 70%;*/
  height: 90px; // also used in App.Routers.Master.reset()
  background-color: #fff; //#fefbf3;
  border: 1px solid rgba(0,0,0,.2);
  padding: 4px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  
  ul.pills {
    margin-bottom: 6px;
    li {
      font-weight: 400; 
      font-size: 16px;
    }
  }
  
  #help-pill {
    float: right;
  }
  
  #map-tab {
    #upload-map-edits-button {
      display: none;
    }
  }
  
  #measure-tab {
    #count-bar {
      h3 {
        float: left;
        text-align: left;
        padding-top: 0;
      }
      #count-buttons {
        float: right;
        text-align: right;
      }
    }
    #count-session-table-wrapper {
      height: 120px;
      width: 100%;
      overflow-y: scroll;
      #count-session-table {
        border: 0;
        padding: 0;
        padding-top: 6px;
        th {
          border: 0;
          padding: 0;
        }
        td {
          border: 0;
          padding: 0;
        }
      } 
    }
    #count-session-entry {
      clear: both;
      #timer {
        float: left;
        padding: 20px;
        margin-left: 20px;
        width: 100px;
        text-align: left;

      }
      #counter {
       float: left; 
       font-size: 52pt;
       padding: 33px;
       text-align: center;
       h6 {
         display: block;
         width: 100%;
         padding-top: 20px;
       }
      }
      .btn {
        height: 120px;
        width: 130px;
        font-size: 52pt;
      }
      #count-minus-one-button {
        float: left;
      }
      #count-plus-one-button {
        float: right;
        margin-left: 4px;
      }
      #count-plus-five-button {
        float: right;
      }
    }
  }
}