/*
 *= require jquery-ui.custom
 *
 *= require_self
 *= require_tree . 
*/

html, body, #container, #side-bar, #main-area {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
html, body, .container, #accordion {
  width: 100%;
  background-color: #333;
}
#side-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  background-color: #FFF;
  color: #FFF;
}
/*#side-top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  width: 100%;
  background-color: #333;
}*/
#accordion {
  position: absolute;
/*  top: 50px;*/
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}
#accordion .ui-accordion-content {
  padding: 4px;
}
#main-area {
  position: absolute;
  top: 0;
  left: 202px;
  right: 0;
  bottom: 0;
}
.dialog {
  display: none;
}
.compass .back {
  fill: #eee;
  fill-opacity: .8;
}
 
.compass .fore {
  stroke: #999;
  stroke-width: 1.5px;
}
 
.compass rect.back.fore {
  fill: #999;
  fill-opacity: .3;
  stroke: #eee;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}
 
.compass .direction {
  fill: none;
}
 
.compass .chevron {
  fill: none;
  stroke: #999;
  stroke-width: 5px;
}
 
.compass .zoom .chevron {
  stroke-width: 4px;
}
 
.compass .active .chevron, .compass .chevron.active {
  stroke: #fff;
}
 
.compass.active .active .direction {
  fill: #999;
}