<div id="delete-geo-point-modal" class="modal">
  <div class="modal-header"><h3>Delete Point?</h3></div>
  
  <div class="modal-body"><p>Deleting this point will also delete any connected segments, along with any count sessions associated with those segments. Are you sure you want to delete this point?</p></div>
  
  <div class="modal-footer">
    <a id="delete-geo-point-button" class="btn danger">Yes</a>
    <a href="#project/<%= masterRouter.projects.getCurrentProjectId() %>/map/geo_point/<%= masterRouter.geo_points.selected()[0].cid %>" class="btn secondary">No</a>
  </div>
</div>