<div id="manage-count-plans-modal" class="modal">
  <div class="modal-header">
    <h3>Manage Count Plans</h3>
  </div>
  
  <div class="modal-body">
    <h4>Current Count Plan</h4>
    <p>Users:</p>
    <p>Locations:</p>
    <p>Start weeks</p>


    <h4>Archived Count Plans</h4>
    <table class="table table-bordered table-condensed">
      <thead>
        <th>Start Date</th>
        <th># Weeks</th>
        <th>% Completed</th>
        <th></th>
      </thead>
      <tbody>
        <% _.each( archivedCountPlans, function(cp) { %>
        <tr>
          <td><%= cp.get('start_date') %></td>
          <td><%= cp.get('weeks') %></td>
          <td><%= cp.get('percent_completed') %></td>
          <td><a class="btn"><i class="icon-trash"></i></td>
        <tr>
        <% }); %>  
      </tbody>
    </table>

    </table>
  </div>

  <div class="modal-footer">
    <h6 class="pull-left">
      <a id="create-a-new-count-plan-button" class="btn btn-primary"><i class="icon-calendar icon-white"></i> Create a New Count Plan</a></h6>
      <h6><a id="close-button" class="btn">Close</a></h6>
  </div>
</div>