<div id="new-count-session-modal" class="modal">
  <div class="modal-header">
    <ul class="pills">
      <li><h3>Count at Selected Segment</h3></li>
      <!-- Schedule for the Future is a non-working placeholder right now -->
      <li style="float: right;">
        <a>Schedule for the Future</a>
      </li>
      <li class="active" style="float: right;">
        <a>Start Now</a>
      </li>
    </ul>
  </div>
  
  <div class="modal-body">
    <table class="zebra-striped">
      <tr>
        <td>Start Time</td>
        <td><strong><%= new Date %></strong></td>
      </tr>
      <tr>
        <td>User</td>
        <td><strong><%= masterRouter.users.getCurrentUser().get('first_name') + " " + masterRouter.users.getCurrentUser().get('last_name')%></strong></td>
      </tr>
      <tr>
        <td>Duration</td>
        <td><strong>1 minute</strong></td>
      </tr>
    </table>
  </div>
  
  <div class="modal-footer">
    <h6><a id="start-count-session-now-button" class="btn primary">Start Now</a></h6>
    <h6><a href="#project/<%= projectId %>/measure/segment/<%= segmentId %>" class="btn secondary">Cancel</a></h6>
  </div>
</div>