<div id="project-modal" class="modal">
  <div class="modal-header">
    <ul class="nav nav-pills">
      <li><h3><%= project.get('name') %></h3></li>
      <li <% if (mode == "export") { %>class="active"<% } %> style="float: right;">
        <a href="#project/<%= project.id %>/export">Export</a>
      </li>
      <li <% if (mode == "settings") { %>class="active"<% } %> style="float: right;">
        <a href="#project/<%= project.id %>/settings">Settings</a>
      </li>
    </ul>
  </div>
  
  <div class="modal-body">
    <% if (mode == "settings") { %>
      <form class="form-horizontal">
        <div class="control-group">
          <label class="control-label">Base map</label>
          <div class="controls">
            <select id="base-map-select">
              <option value="osm">OpenStreetMap</option>
              <option value="bing">Bing aerial imagery</option>
            </select>
            <p class="help-block">Which map tiles should be displayed behind this project's segments and points?</p>
          </div>
        </div>
      </form>
    <% } else if (mode == "export") { %>
      <h4>Map</h4>
      <p><span class="label notice">Info</span> Map export is not enabled for this project. Please contact S3Sol.</p>

      <h4>Measure<h4>
      <p><span class="label notice">Info</span> Measure export is not enabled for this project. Please contact S3Sol.</p>
    <% } %>
  </div>

  <div class="modal-footer" style="align: right;">
    <a href="#project/<%= project.id %>" class="btn">Close</a>
  </div>
</div>