<div id="projects-modal" class="modal <%= mode %>">
  <div class="modal-header">
    <ul class="nav nav-pills">
      <li><h3>Projects</h3></li>
      <li <% if (mode == "open") { %>class="active"<% } %> style="float: right;">
        <a href="#project/open">Open</a>
      </li>
    </ul>
  </div>
  
  <div class="modal-body">
    <% if (mode == "open") { %>
      <ul class="unstyled">
      <% projects.each(function(p) { %>
        <li><a href="#project/<%= p.id %>"><%= p.get('name') %></a></li>
      <% }); if (projects.length == 0) { %>
        <p>You do not have access to any projects.</p>
        <% if (currentUser.get('organization_manager') == true) { %>
          <p>Use the <a href="/manage">management interface</a> to create a new project and give yourself permission to view it.</p>
        <% } else { %>
          <p>Contact your organization's manager to be added to a project.</p>
        <% } %>
      <% } %>
    </ul>
    <% } %>
  </div>
</div>