<div id="project-modal" class="modal <%= mode %>">
  <div class="modal-header">
    <ul class="pills">
      <li><h3>Projects</h3></li>
      <li <% if (mode == "admin") { %>class="active"<% } %> style="float: right;">
        <a href="#project/admin">Admin</a>
      </li>
      <li <% if (mode == "open") { %>class="active"<% } %> style="float: right;">
        <a href="#project/open">Open</a>
      </li>
    </ul>
  </div>
  
  <div class="modal-body">
    <% if (mode == "open") { %>
      <% projects.each(function(p) { %>
        <p><a href="#project/<%= p.id %>"><%= p.get('name') %></a></p>
      <% });%>
    <% } %>
    <% if (mode == "admin") { %>
    <div id="project-admin-content">
      <iframe src="/admin" id="admin-iframe" />
    </div>
    <% } %>
  </div>
</div>