<div id="projects-modal" class="modal <%= mode %>">
  <div class="modal-header">
    <ul class="nav nav-pills">
      <li><h3>Projects</h3></li>
      <li <% if (mode == "open") { %>class="active"<% } %> style="float: right;">
        <a href="#project/open">Open</a>
      </li>
    </ul>
  </div>
  
  <div class="modal-body">
    <% if (mode == "open") { %>
      <ul class="unstyled">
      <% projects.each(function(p) { %>
        <li><a href="#project/<%= p.id %>"><%= p.get('name') %></a></li>
      <% }); if (projects.length == 0) { %>
        <li>You have access to no projects.</li>
      <% } %>
    </ul>
    <% } %>
  </div>
</div>