<div id="upload-map-edits-modal" class="modal">
  <div class="modal-header">
    <h2>Uploading Map Edits</h2>
  </div>
  
  <div class="modal-body">
    <p>In the process of uploading your edits to the map...</p>
  </div>
</div>