/*
 *= require bootstrap
 *= require_self
*/

#header-row {
	text-align: center; 
	padding-top: 100px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 60px;
	font-size: 72pt;
	font-weight: bold;
}

#forgot-password-link {
	padding-left: 20px;
}

#footer-row {
	padding-top: 30px;
	text-align: center;
}