<div class="object-kind">
  GeoPoint
</div>

<div class="object-details">
  <p>latitude: <%= latitude %></p>
  <p>longitude: <%= longitude %></p>
</div>

<div class="object-actions">
  <div class="edit-actions">
    <input type="checkbox" id="geo-point-connect-button"/><label for="geo-point-connect-button">connect</label>
    <input type="checkbox" id="geo-point-move-button"/><label for="geo-point-move-button">move</label>
    <input type="checkbox" id="geo-point-delete-button"/><label for="geo-point-delete-button">delete</label>
  </div>
</div>

<div class="dialog" id="geo-point-delete-confirm" title="Delete this geo point?">
	<p>
	  <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
	  Deleting this geo point will also delete all connected segments.
	</p>
</div>